<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="fly-panel fly-link" th:fragment="link">
    <h3 class="fly-panel-title">友情链接 <i class="layui-icon layui-icon-link" style="color: #999999"></i></h3>
    <dl class="fly-panel-main">
        <dd><a href="https://s.weibo.com/top/summary" target="_blank">微博热搜</a><dd>
        <dd><a href="https://www.baidu.com/" target="_blank">百度一下</a><dd>
        <dd><a href="https://www.iqiyi.com/" target="_blank">爱奇艺</a><dd>
        <dd><a href="https://www.taobao.com/" target="_blank">淘宝</a><dd>
        <dd><a id="friend_link" href="#" class="fly-link">申请友链</a><dd>
    </dl>
</div>