<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.AdminMapper">

    <update id="setTopBlog" >
        update article set top = #{top} where aid = #{aid}
    </update>

    <update id="setBoutiqueBlog" >
        update article set article_type = #{article_type} where aid = #{aid}
    </update>

</mapper>