<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>找回密码/重置密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="郁郁苍苍,Share,分享,生活,快乐,让世间美好与你环环相扣">
    <meta name="time" content="写自于2020年一个雪虐风饕的晚上">
    <meta name="description" content="乐人之乐,人亦乐其乐;忧人之忧,人亦忧其忧。郁郁苍苍 一个可以分享心情,分享时光,分享生活点滴的社交平台">
    <link rel="icon" th:href="@{/favicon.ico}"  type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"  type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/layui/css/modules/layer/default/layer.css}">
</head>
<body>
<!--引入上边栏-->
<div th:replace="~{common/header::head}"></div>

<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a href="login.html">登入</a></li>
                <li class="layui-this">找回密码<!--重置密码--></li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form class="layui-form">
                            <div class="layui-form-item">
                                <label for="L_username" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_username" name="username" required
                                           lay-verify="required|email" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">目前仅允许通过邮箱找回密码</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="email_code" class="layui-form-label">验证码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="email_code" name="email_code" required
                                           lay-verify="required|email_code" placeholder="请输入邮箱验证码" autocomplete="off"
                                           class="layui-input"></div>
                                <div class="layui-form-mid" style="padding: 0!important;">
                                    <input class="layui-btn layui-btn-normal"
                                           name="btnSendCode" type="button"
                                           onclick="sendMessage()" id="btnSendCode" value="获取验证码"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="pass" required lay-verify="required|pass"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">8到18个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_repass" class="layui-form-label">确认新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_repass" name="repass" required
                                           lay-verify="required|repass" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn layui-btn-danger" alert="1" lay-filter="updatePassword" lay-submit
                                        type="button">提交
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--页面底部-->
<div th:replace="~{common/footer::foot}"></div>
<script th:src="@{/js/mods/forget.js}"></script>
</body>
</html>